
.saveBtn {
    font-family: 'Bitter', serif;
    background-color: #386d3b;
    margin-bottom: 2%;
}

.saveBtn:hover {
    background-color: #3f9c44;
}

.saveBtn:focus {
    background-color: #386d3b;
}